@use "../../css/variables" as *;

.terms-of-service {
  background-color: var(--background);

  h1.page-title {
    color: var(--primary);
  }

  .terms-of-service-wrapper {
    color: var(--on-background);
    padding-bottom: 80px;

    h2 {
      color: var(--primary);
    }
  }
}
